body {
  background-color: #ff9100;
  color: #001858;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  padding: 2rem;
  margin: 0;
}

header {
  background: #fca903;
  padding: 1rem;
  border-radius: 1rem;
}

button {
  padding: 1rem 2rem;
  background-color: #735429;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: 0.3s;
}

button:hover {
  background-color: #735429;
}

footer {
  margin-top: 3rem;
  font-size: 0.9rem;
  color: #555;
} 
